#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  zabbix-server.service
BindsTo=zabbix.service
After=zabbix.service postgresql-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/zabbix-server.pid %t/zabbix-server.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/zabbix-server.pid \
    --cidfile %t/zabbix-server.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/zabbix.pod-id --replace -d --name zabbix-server \
    --env DB_SERVER_HOST=postgresql-app \
    --env POSTGRES_USER=postgres \
    --env POSTGRES_PASSWORD=Nethesis,1234 \
    ${ZABBIX_SERVER_PGSQL_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/zabbix-server.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP zabbix-server
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/zabbix-server.ctr-id
PIDFile=%t/zabbix-server.pid
Type=forking

[Install]
WantedBy=default.target
