#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  zabbix-agent.service
BindsTo=zabbix.service
After=zabbix-server.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/zabbix-agent.pid %t/zabbix-agent.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/zabbix-agent.pid \
    --cidfile %t/zabbix-agent.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/zabbix.pod-id --replace -d --name zabbix-agent \
    --env ZBX_SERVER_HOST=zabbix-server \
    ${ZABBIX_AGENT2_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/zabbix-agent.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP zabbix-agent
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/zabbix-agent.ctr-id
PIDFile=%t/zabbix-agent.pid
Type=forking

[Install]
WantedBy=default.target
